body{
background-color:#333333;
overflow-wrap: break-word;
}
.fontawesomer{
display:inline;
background-color:#AAA;
border-radius:50%;
padding:5;
}
.cover{
position:absolute;
width:80%;
left:10%;
right:10%;
top:5%;
background-color:#55555;
min-height:100%;
box-shadow: 0 0 100px 30px #161616;
}
.left-column{
position:relative;
width:30%;
left:0px;
background-color:#66666;
display:inline-block;
box-shadow: 0 0 100px 60px #333;
}
.profile{
position:relative;
width:80%;
left:10%;
right:10%;
top:10vh;
border-radius:50%;
}
.right-column{
position:relative;
float:right;
width:70%;
top:0;

display:flex;
}
i{
color:#636363 !important;
}
.fontawesome{
background-color:#AAA;
border-radius:50%;
padding:5;
}
mark {
background-color:#F1C22F;
color:darkgray;
}
a{
text-decoration:none;
color:lightblue;
}
.thumbnail-small{
width:30%;
display:inline-block;
}
.img-small{
width:100%;
}
