        body{
            background-color: white;
            font-family: Courier New;
            overflow-wrap: break-word;
        }
        @media only screen and (max-width: 530px) {
            .sidebar{
                width:100% !important;
                position:absolute !important;
                height:100vh !important;
                overflow:auto !important;
            }
            .content-main{
                position:relative !important;
                width: 100% !important;
                top:100vh !important;
                right:auto !important;
            }
            .header{
                height:auto !important;
            }
            .scroll-down{
                display:none;
            }
        }
        .sidebar{
            position:fixed;
            width:23%;
            left:0px;
            top:0px;
            overflow: hidden;
            height: 100vh;
        }
        .content-main{
            position:absolute;
            width:75%;
            top:0px;
            right:0px;
        }
        .title{
            font-size:4em;
            color: #404040;
            opacity:0.7;
        }
        .heading{
            color: #404040;
            opacity: 0.2;
            font-size:2.5em;
        }
        .heading-{
            color: #404040;
            opacity: 0.25;
            font-size:2.5em;
        }
        .header{
            height:80vh;
        }
        .scroll-down svg{
            height:10vh;
            color: #404040;
            opacity: 0.2;
        }
        p {
            font-size: 1.3em;
        }
        i {
            font-size: 1.7em !important;
            color: #404040;
            opacity: 0.25;
        }
        .thumbnail-small{
            width:30%;
            display:inline-block;
        }
        .img-small{
            width:100%;
        }
        .sidebar a{
            text-decoration: none;
            font-size: 1.3em;
            font-weight: bold;
            color: #404040;
            opacity: 0.9;
            line-height: 2;
        }
        .sidebar:hover{
            overflow-y:scroll;
        }
        .sidebar i{
            font-size: 1em !important;
        }
        .content{
            position:relative;
            height:70vh;
            overflow:hidden;
        }
        .read-more{
            font-family:arial;
            color: lightblue;
            cursor:pointer;
            text-decoration:underline;
        }
        #blog{
            position:relative;
            height:70vh;
            overflow:hidden;
        }
        .blog-title{
            color: #909090;
            opacity: 0.4;
            font-size:1.75em;
            text-decoration:underline;
        }
        .blog-subheading{
            color: #909090;
            opacity: 0.3;
            font-size:1.25em;
        }
        .fade {
            position:absolute;
            z-index:2;
            right:0; bottom:0; left:0;
            height:50%;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
            background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
            background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        }
        .blog p{
            text-align:left;
        }
        q{
        background-color: lightgray;
        border-radius:10px;
        }
        mark{
        border-radius:10px;
        background-color: #ffd942;
        }
